<!-- ======== hero-section start ======== -->
<section id="home" class="hero-section">
    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="col-lg-6">
          <div class="hero-content">
            <h1 class="wow fadeInUp" data-wow-delay=".4s">
             Welcome to I-Smart
            </h1>
            <p class="wow fadeInUp" data-wow-delay=".6s">
              I-Smart  is a fully web integrated end-to-end insurance core solution with over 30 service oriented modules
including automatic fine grained accounting and general ledger providing an easy regulatory compliance with multi-currency management
            </p>
            <a
            [routerLink]="'/sign-up'"
              class="main-btn border-btn btn-hover wow fadeInUp"
              data-wow-delay=".6s"
              >Sign Up </a
            >
            <a
            (click)="signIn()"
              class="main-btn border-btn btn-hover wow fadeInUp"
              data-wow-delay=".6s"
              >Sign In </a
            >
            <a href="#features" class="scroll-bottom">
              <i class="lni lni-arrow-down"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
            <img src="assets/img/hero/hero-img.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======== hero-section end ======== -->